@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

.global {
  max-width: 414px;
  margin: 0 auto;
  position: relative;
}

.cabecalho {
  width: 414px;
  height: 92px;
  margin: 0 auto;
  background-color: #cf2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  position: fixed;
  top:0;
  z-index: 3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho h1 {
  font-family: Righteous;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  color: #ffffff;
}
.cabecalho h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.content {
  background-color: #e5e5e5;
  padding-top: 31px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  margin: 92px 0;
}
.content h1 {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 17px;
}
.session-title {
  margin-left: 19px;
}
.pratos,
.bebidas,
.sobremesas {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 16px;
  padding-bottom: 10px;
}


.pratos img,
.bebidas img,
.sobremesas img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
}

.pratos h2,
.bebidas h2,
.sobremesas h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin: 8px 0;
}
.pratos p,
.bebidas p,
.sobremesas p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #a6a6a6;
}
.pratos h3,
.bebidas h3,
.sobremesas h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
}
.prato-container,
.bebida-container,
.sobremesa-container {
  width: 172px;
  height: 216px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 9px;
}

.prato-container:nth-child(1), .bebida-container:nth-child(1), .sobremesa-container:nth-child(1) {
  margin-left: 19px;
}

.prato-container:last-child, .bebida-container:last-child, .sobremesa-container:last-child {
  margin-right: 19px;
}

.prato-container:hover,
.bebida-container:hover,
.sobremesa-container:hover {
  cursor: pointer;
}

.iconeVerde {
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 15px;
  height: 15px;
  color: #32b72f;
}

.escondido {
  display: none;
}

.prato {
  width: 144px;
  height: 185px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.descricao {
  height: 39px;
}
.divpreco {
  display: flex;
  gap: 3px;
}
.footer {
  width: 414px;
  height: 92px;
  margin-top: 16px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ebebeb;
  position: fixed;
  bottom: 0;
  z-index: 3;
}
.pedir {
  width: 364px;
  height: 61px;
  background: #cbcbcb;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.selected {
  border: 3px solid #32b72f;
  box-shadow: 0px 4px 4px rgba(2, 2, 2, 0.25);
border-radius: 9px;
}

.verde {
  background: #32b72f;
}

.confirm-background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: none;
  justify-content: center;
  align-items: center;
}

.confirm {
  width: 377px;
  height: 353px;
  background-color: #50d074;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirm h1 {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 21px 0;
}

.pedido1,
.pedido2,
.pedido3 {
  width: 325px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}
.total {
  width: 325px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}
.cancelar {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancelar:hover {
  cursor: pointer;
}

.botao-confirmar {
  width: 329px;
  height: 52px;
  background: #ffffff;
  border-radius: 100px;
  border: none;
  color: #50d074;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  margin-top: 17px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .pratos::-webkit-scrollbar, .bebidas::-webkit-scrollbar, .sobremesas::-webkit-scrollbar {
    background-color: #e5e5e5;
    height: 6px;

  }
  
  .pratos::-webkit-scrollbar-thumb, .bebidas::-webkit-scrollbar-thumb, .sobremesas::-webkit-scrollbar-thumb {
    background-color: #999898;
    border-radius: 5px;
  
  }
}

@media (max-width: 414px) {
  .footer {
    width: 100%;
  }
}